@import "./spectre.scss";
@import "~typeface-muli/index.css";
@import "~@mdi/font/css/materialdesignicons.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.btn {
  &.btn-primary {
    background: $scrathpay-cobalt;
  }
}

.table {
  td,
  th {
    padding: $unit-2 $unit-2;
  }

  tbody tr {
    border-radius: $border-radius;
  }
}
