$scrathpay-blue: #245ca6;
$scrathpay-light-blue: #a3c7ed;
$scrathpay-cobalt: #293d99;
$scrathpay-navy: #212445;
$scrathpay-coral: #f56e57;
$scrathpay-yellow: #f5b81c;
$scrathpay-beige: #faf0e3;
$scrathpay-dark-gray: #241f21;

$primary-color: $scrathpay-blue !default;
$dark-color: $scrathpay-navy !default;
$warning-color: $scrathpay-yellow !default;
$error-color: $scrathpay-coral !default;
$highlight-color: $scrathpay-beige !default;
$base-font-family: "Muli" !default;
$border-radius: 7px;
