<template>
  <div class="columns">
    <div class="column col-xs-12 col-md-6 col-xl-4 col-3 col-mx-auto">
      <div>
        <img
          src="../assets/paw_symbol.png"
          alt="Logo"
          class="img-responsive logo"
        />
      </div>
      <h1 class="text-center">Sign in</h1>
      <form class="form-horizontal" @submit.prevent="handleSubmit">
        <div class="form-group">
          <input
            class="form-input"
            type="text"
            placeholder="Enter Username"
            v-model="form.username"
          />
        </div>
        <div class="form-group">
          <input
            class="form-input"
            type="password"
            placeholder="Enter Password"
            v-model="form.password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-login">Login</button>

        <small class="text-error">{{ error }}</small>

        <div class="divider"></div>

        <small class="text-gray">
          <b>Hint:</b> <br />
          username: admin <br />
          password admin
        </small>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      form: {
        username: "",
        password: ""
      },
      error: ""
    };
  },
  methods: {
    handleSubmit() {
      if (this.form.password !== "admin" || this.form.username !== "admin") {
        this.error = "Incorrect Username or Password.";
        return;
      }

      this.$store.dispatch("login", this.form);
      this.$router.push({ name: "root" });
    }
  }
});
</script>

<style lang="scss" scoped>
.logo {
  margin: 0 auto;
  padding: 2rem;
}
.btn-login {
  width: 100%;
}
</style>
