<template>
  <div></div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  beforeRouteEnter(to, from, next) {
    return next(vm => {
      const isAuthenticated = vm.$store.state.user;
      return isAuthenticated
        ? next({ name: "users" })
        : next({ name: "login" });
    });
  }
});
</script>
