<template>
  <div>
    <Toolbar>
      <div class="page-title">User management</div>
      <div class="btn-group btn-group-block" slot="toolbar">
        <button class="btn" @click="addUser">Add User</button>
      </div>
    </Toolbar>
    <div class="columns">
      <div
        class="column"
        :class="{ 'col-12': !editingUser, 'col-lg-12 col-8': editingUser }"
      >
        <UserList :users="users" />
      </div>
      <div v-if="editingUser" class="column col-lg-12 col-4">
        <UserDetail :user="editingUser" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import UserList from "@/components/user-list.vue";
import UserDetail from "@/components/user-detail.vue";
import Toolbar from "@/components/toolbar.vue";
import { mapState } from "vuex";

export default Vue.extend({
  components: {
    UserList,
    UserDetail,
    Toolbar
  },
  computed: {
    ...mapState(["users", "editingUser"])
  },
  mounted() {
    this.$store.dispatch("fetchUsers");
  },
  methods: {
    addUser() {
      this.$store.dispatch("editUser", {});
    }
  }
});
</script>

<style lang="scss" scope>
.page-title {
  font-weight: 500;
  font-size: 32px;
}
</style>
