<template>
  <header class="navbar app-navbar">
    <section class="navbar-section">
      <a href="/">
        <img src="../assets/logo.png" class="img-responsive app-logo" />
      </a>
    </section>
  </header>
</template>

<style scoped>
.app-navbar {
  margin: 1rem;
}
.app-logo {
  width: 170px;
}
</style>
