<template>
  <div class="navbar">
    <section class="navbar-section">
      <slot></slot>
    </section>
    <section class="navbar-section">
      <slot name="toolbar"></slot>
    </section>
  </div>
</template>
