<template>
  <div class="user-detail" v-if="user">
    <div class="flex-centered">
      <img
        :alt="`${user.firstName || ''} ${user.lastName || ''}`"
        :src="user.photo"
        class="img-responsive detail-img"
      />
    </div>
    <form class="detail-form" @submit.prevent="handleSave">
      <div class="form-group">
        <label class="form-label label-sm" for="photo">Photo</label>
        <input
          class="form-input input-sm"
          id="photo"
          type="text"
          v-model="user.photo"
        />
      </div>
      <div class="form-group">
        <label class="form-label label-sm" for="email">Email</label>
        <input
          class="form-input input-sm"
          id="email"
          type="text"
          v-model="user.email"
        />
      </div>
      <div class="form-group">
        <label class="form-label label-sm" for="firstName">FirstName</label>
        <input
          class="form-input input-sm"
          id="firstName"
          type="text"
          v-model="user.firstName"
        />
      </div>
      <div class="form-group">
        <label class="form-label label-sm" for="lastName">LastName</label>
        <input
          class="form-input input-sm"
          id="lastName"
          type="text"
          v-model="user.lastName"
        />
      </div>
      <div class="form-group">
        <label class="form-label label-sm" for="status">Role</label>
        <select class="form-select select-sm" id="status" v-model="user.role">
          <option :key="role.value" :value="role.value" v-for="role in roles"
            >{{ capitalize(role.label) }}
          </option>
        </select>
      </div>
      <small class="text-error" v-if="error">{{ error }}</small>
      <div class="form-group text-right">
        <button type="button" class="btn btn-sm btn-error" @click="cancel">
          Close
        </button>
        <button type="submit" class="btn btn-sm btn-primary">
          Save
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from "vue";
import { capitalize } from "@/services/utils";
import { Role, User } from "@/domain/user";

export default Vue.extend({
  props: {
    user: {
      type: Object,
      default() {
        return undefined;
      }
    } as PropOptions<User>
  },
  data() {
    const roles = Object.keys(Role).map((key: any) => ({
      value: key,
      label: Role[key]
    }));
    return { roles, error: "" };
  },
  methods: {
    capitalize,
    cancel() {
      this.$store.dispatch("editUser", undefined);
    },
    isValidUser() {
      const { email, firstName, lastName, role }: Partial<User> =
        this.user || {};
      return email && firstName && lastName && role;
    },
    isValidEmail() {
      const user = this.user;
      const users = this.$store.state.users as User[];

      const otherUsers = users.filter(otherUser => otherUser.id !== user.id);
      const isRepeatedEmail = otherUsers.find(
        otherUser => otherUser.email === user.email.trim()
      );
      return !isRepeatedEmail;
    },
    handleSave() {
      if (!this.isValidUser()) {
        this.error = "Complete all the fields please!";
        return;
      }

      if (!this.isValidEmail()) {
        this.error = "Email already taken!";
        return;
      }

      this.$store.dispatch("saveUser", this.user);
    }
  }
});
</script>

<style lang="scss" scoped>
.user-detail {
  min-height: 100%;
  width: 100%;
}

.detail-form {
  width: 100%;
}

.detail-img {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  margin-top: 1rem;
  margin-right: 1rem;
}
</style>
