<template>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th width="150" class="hide-md">Role</th>
        <th width="150" class="hide-md">Status</th>
        <th width="100" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users" :key="user.id">
        <td class="d-flex user-detail">
          <img
            class="img-responsive user-photo"
            :src="user.photo"
            :alt="`${user.firstName} ${user.lastName}`"
          />
          {{ user.firstName }} {{ user.lastName }}<br />
          {{ user.email }}
        </td>
        <td class="hide-md">
          {{ capitalize(user.role) }}
        </td>
        <td class="hide-md">
          <div class="form-group">
            <label class="form-switch">
              <input
                type="checkbox"
                :checked="isActive(user)"
                @input="handleStatus(user)"
              />
              <i class="form-icon"></i> {{ capitalize(user.status) }}
            </label>
          </div>
        </td>
        <td class="text-center">
          <div class="btn-group">
            <button class="btn btn-error" @click="deleteUser(user.id)">
              <i class="mdi mdi-delete"></i>
            </button>
            <button class="btn btn-primary" @click="editUser(user)">
              <i class="mdi mdi-pencil"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import Vue, { PropOptions } from "vue";
import { Role, Status, User } from "@/domain/user";
import { capitalize } from "@/services/utils";

export default Vue.extend({
  props: {
    users: {
      type: Array,
      default() {
        return [] as User[];
      }
    } as PropOptions<User[]>
  },
  data() {
    const roles = Object.keys(Role).map((key: any) => ({
      value: key,
      label: Role[key]
    }));
    const statuses = Object.keys(Status).map((key: any) => ({
      value: key,
      label: Status[key]
    }));
    return {
      roles,
      statuses
    };
  },
  methods: {
    capitalize,
    isActive(user: User) {
      return user.status === Status.ACTIVE;
    },
    handleStatus(user: User) {
      user.status =
        user.status === Status.ACTIVE ? Status.INACTIVE : Status.ACTIVE;
    },
    deleteUser(id: number) {
      const userIndex = this.users.findIndex(user => user.id === id);
      this.users.splice(userIndex, 1);
    },
    editUser(user: User) {
      this.$store.dispatch("editUser", { ...user });
    }
  }
});
</script>

<style lang="scss">
@import "@/styles/variables.scss";

.user-photo {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 1rem;
}

.user-detail {
  align-items: center;
}
</style>
