<template>
  <div id="app">
    <Navbar />
    <div class="container page">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Navbar from "@/components/navbar.vue";

export default Vue.extend({
  components: {
    Navbar
  }
});
</script>

<style lang="scss" scoped>
.page {
  padding: 2rem 1.5rem;
}
</style>
